<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.address %></h3>
<h4><%= @restaurant.category %></h4>

<% @restaurant.reviews.each do |r| %>
  <ul>
    <li><%= "description of the restaurant: #{r.content}" %></li>
    <li><%= "Restaurant rating: #{r.rating}" %></li>
  </ul>
  <br>
<% end %>

<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Add a review", new_restaurant_review_path(params[:id]), class: "btn btn-primary" %>
